html {
    background: url("/assets/img/login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body {
    /*background:  no-repeat fixed ;*/
    color: white;
}